<template>
  <div id="map">
    <button id="btn1">添加图标</button>
    <button id="btn2">添加动画图标</button>
  </div>
</template>

<script>
const mapboxgl = require('mapbox-gl');  //引入组件
export default {
    mounted () {
        this.initmap();  
    },
  methods: {
      initmap(){
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2VpaGoiLCJhIjoiY2tuZTZqMmh5MWNpMjJ3bzBwNHZ1anJqciJ9.GFnif1KVciCYl6gcwrVz8g'; //这里请换成自己的token
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11'
        }); 
        var btn1 = document.getElementById('btn1');
        var btn2 = document.getElementById('btn2');
        map.on('load', function () {

          var width = 64; 
          var bytesPerPixel = 4; 
          var data = new Uint8Array(width * width * bytesPerPixel);
          
          for (var x = 0; x < width; x++) {
            for (var y = 0; y < width; y++) {
              var offset = (y * width + x) * bytesPerPixel;
              data[offset + 0] = y / width * 255; 
              data[offset + 1] = x / width * 255; 
              data[offset + 2] = 128;             
              data[offset + 3] = 255;            
            }
          }
          
          map.addImage('gradient', {width: width, height: width, data: data});
          
          map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": {
              "type": "geojson",
              "data": {
                "type": "FeatureCollection",
                "features": [{
                  "type": "Feature",
                  "geometry": {
                    "type": "Point",
                    "coordinates": [0, 0]
                  }
                }]
              }
            },
            "layout": {
            "icon-image": "gradient"
            }
          });
        });
      }
    }
 }
</script>
<style  scoped>
@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css');
#map{ 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
</style>
