<template>
    <div id="map"></div> 
</template>
<script>
const mapboxgl = require('mapbox-gl');  //引入组件
export default {
    mounted () {
        this.initmap();  
    },
  methods: {
      initmap(){
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2VpaGoiLCJhIjoiY2tuZTZqMmh5MWNpMjJ3bzBwNHZ1anJqciJ9.GFnif1KVciCYl6gcwrVz8g'; //这里请换成自己的token
        var map = new mapboxgl.Map({
        container: 'map', // container id 绑定的组件的id
        style: 'mapbox://styles/mapbox/streets-v11', //地图样式，可以使用官网预定义的样式,也可以自定义
        center: [-74.50, 40], // 初始坐标系
        zoom: 9,     // starting zoom 地图初始的拉伸比例
        pitch: 60,  //地图的角度，不写默认是0，取值是0-60度，一般在3D中使用
        bearing: -17.6, //地图的初始方向，值是北的逆时针度数，默认是0，即是正北
        });  
       }
    }
}
</script>
<style  scoped>
@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css');
#map{ 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
</style>
